html{
	height:100%;
	margin: 0;
	position: relative;
}
body{
	width: 90%;
	height: 100%;
	margin: auto;
}

.baner{
	width: 90%;
	height: 30%;
	background: #000;	
}

.IMGban{
	width: 90%;
	height: 30%;
	position: absolute;
}

.contenido{
	display: block;
	margin: 2px auto;
	padding: 2px;
	border: 1px solid #FF0000;
}

.contenido > img {
	display: block;
	margin: auto;
}

.pie{
	background: #000;
	color: #fff;
	clear: both; /*limpia los float left*/
	padding: 10px 0px; /*(arriba-lados)*/
	text-align: center;
}