html{
	height:100%;
	margin: 0;
	position: relative;
}
body{
	width: 90%;
	height: 100%;
	margin: auto;
}

.baner{
	width: 90%;
	height: 30%;
	background: #000;	
}

.IMGban{
	width: 90%;
	height: 30%;
	position: absolute;
}

.contenido{
	display: block;
	margin: 2px auto;
	padding: 2px;
	border: 1px solid #FF0000;
}

.contenido > img {
	display: block;
	margin: auto;
}

.pie{
	height: 5%;
	background: #000071;
	color: #FFF;
	text-align: center;
	font-size: 1em;
	padding: 1em;
	border: 1px solid #FF0000;
}