*{
	margin: 0;
	padding: 0;
}
body {
	background: #e6e6e6;
	width: 90%;
	margin: auto;
}

.baner{
	display:block;
	width: 100%;
}
.baner>img{
	width: 100%;
	display: block;
	height: 170px;
}

.IMGban{
	width: 100%;
}
header .menu {
	background: #8A0829;
	overflow: hidden; /*quito los float antes y despues para q no se distorcione*/
}
header .menu ul{
	list-style: none;
}
.principal >li{
	float:left;
}
header .menu ul li a{
	padding: 10px 20px;
	display: block; /*para que el padding funcione hacia arriba y abajo no solo hacia los lados*/
	color: #fff;
	text-decoration: none;/*quitarle el subrrayado*/	
}
header nav ul li a:hover{
	background: #DF013A;	
}

.menu ul li ul {
	display: none;/*esconde los sub menus*/
	position: absolute;/*para que no se deforme con cada elemento*/
	background: #8A0829;
}

/* cuando pasamos el mouse sobre los elementos li de hover*/
.principal li:hover > ul{
	display: block;
}

.menu ul li ul li a{
	display: block;
}
footer{
	background: #000;
	color: #fff;
	clear: both; /*limpia los float left*/
	padding: 10px 0px; /*(arriba-lados)*/
	text-align: center;
}